# This workflow will sync changes in the release candidate branch to master during a
# feature freeze. The action is run daily and will only create a pull request when
# there exists a release candidate branch corresponding to the current package version
# as declared in pennylane/_version.py, that is if the branch "v0.23.0-rc0" exists while
# the package version is "v0.24.0-dev".

name: Sync main to master

# Controls when the workflow will run
on:
  # Scheduled trigger every weekday at 2:47am UTC
  schedule:
  - cron:  '47 2 * * 1-5'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job to sync the master branch with changes from the rc
  sync:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out the PennyLane repository
      - uses: actions/checkout@v4
        with:
          ref: main

      # Create a new branch at from the current main to be used in the PR
      - name: Create temp branch
        run: |
          git fetch 
          git checkout main
          BRANCH="main_$(date +'%Y-%m-%d-%H-%M-%S')"
          echo "tmp_branch=$BRANCH" >> $GITHUB_ENV
          git checkout -b "$BRANCH"
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          # git commit -m "exclude files from pr"
          # check for new changes on the rc branch only, based on the diff between master and main
          if ! git diff master HEAD --quiet -- $(git diff --name-only master...HEAD); then
            echo "new_changes=true" >> $GITHUB_ENV
            git push --set-upstream origin "$BRANCH"
          fi

      # Create PR to master
      - name: Create pull request
        env:
          GH_TOKEN: ${{ secrets.PENNYLANE_RUNORA_WRITE_TOKEN }}
        run: |
          git checkout ${{ env.tmp_branch }}
          gh pr create --repo runora95/pennylane --title "Daily master sync to main" --body "" --base master 
          gh pr merge --squash --admin
          # git merge ${{ env.tmp_branch }}
          # git push --force
